/* section tw='px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 h-screen' */
/* Convert tailwind to css */
.hero {
}

.textContainer {
    padding-top: 200px;
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}