.main {
    padding-top: 122px;
    padding-bottom: 50px;
}

.disablePaddingBottom {
    padding-top: 0px;
    padding-bottom: 0px !important;
}

@media (max-width: 800px) {
    .main {
        padding-top: 100px;
    }
}